
<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>_Layout</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
    <div class="main-container container-fluid">
        <nav class="navbar media navigation-top sticky-top row navbar-expand-md">
            <img class="logo navbar-header" src="~/Images/Screenshot (2).png" alt="logo" />

            <button class="navbar-toggler dropdownNavbar btn-sm" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fas fa-bars dropdownNavInterior"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav contentLinks mx-auto">
                    <li class="nav-item active">
                        <a class="text-light h6 nav-link dashboardNavLink" href="/Home/GardenDetail">
                            Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    @if (Convert.ToInt32(Session[SessionKeys.RoleId]) == 1)
                    {
                        <li class="nav-item">
                            <a class="text-light h6 nav-link" href="/Admin/AddPlant">Add Plant</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-light h6 nav-link" href="/Admin/SelectPlant">Update Plant</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-light h6 nav-link" href="/Admin/ChangeAccess">Update Access</a>
                        </li>
                    }

                </ul>

                <ul class="navbar-nav loginLogout">
                    @if (Session[SessionKeys.EmailAddress] as string == "Emailaddress" || Session[SessionKeys.EmailAddress] as string == null)
                    {
                        <li class="nav-item"><a class="text-light h6 pr-3 nav-link" href="/Home/Login">Login</a></li>
                    }
                    else if (Session[SessionKeys.EmailAddress] as string != "Emailaddress")
                    {
                        <li class="nav-item"><a class="text-light h6 nav-link" href="/Home/ProfilePage">Settings</a></li>
                        <li class="nav-item"><a class="text-light h6 nav-link" href="/Home/Logout">Logout</a></li>

                    }
                </ul>
            </div>
        </nav>

        <div class="container">
            @RenderBody()
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="~/Content/JavaScript.js"></script>
        <script src="~/Scripts/Custom/CSValidation.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>


    </div>

</body>
</html>